services:
  trade-cache:
    security_opt:
      - seccomp:unconfined
    image: harbor.gladiators.dev/library/trade-cache:latest
    network_mode: "host"
    restart: on-failure
    container_name: binance-trade-cache
    mem_limit: 50m
    cpus: "1"
    command:
      - /bin/sh
      - -ec
      - |
        { touch metrics.prometheus && /nc-web.sh; } &
        /app
    environment:
      - RCV_TIMEOUT=500 # message receive timeout in milliseconds
    # ports:
    #   - "8081:8081/udp"
